@charset "UTF-8";

/*
    # = id
    . = class
    : = pseudo-class
    :: = pseudo-element
    > = children
*/
body{
    background-color: rgb(255, 255, 255);
    }
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: rgb(9, 216, 223);
}
a:visited{
    color: rgb(223, 255, 81);
}
a:hover{
    color: red;
}
a:active{
    color: rgb(70, 206, 42);
}
a::after{
    content: '[Link]';
    font-weight: lighter;
    font-size: 10px;
}